:root {
	--bs-border-radius: 1rem;
	--bs-light-rgb: 240, 240, 240;
}

#blazor-error-ui {
	background: lightyellow;
	bottom: 0;
	box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
	display: none;
	left: 0;
	padding: 0.6rem 1.25rem 0.7rem 1.25rem;
	position: fixed;
	width: 100%;
	z-index: 1000;
}

	#blazor-error-ui .dismiss {
		cursor: pointer;
		position: absolute;
		right: 0.75rem;
		top: 0.5rem;
	}

#logo-img {
	height: 80px;
	width: 80px;
}

#logo-div {
	height: 80px;
	width: 80px;
	overflow: hidden;
	border-bottom-right-radius: var(--bs-border-radius);
}

#side-menu {
	margin-left: -0.5rem !important;
}

.nav-link {
	border: 1px solid transparent !important;
	border-radius: var(--bs-nav-pills-border-radius);
	transition: border-color .15s, color .15s, background-color .15s;
	color: var(--bs-nav-link-color);
}

	.nav-link:focus,
	.nav-link:hover,
	.nav-link:active {
		border-color: var(--bs-nav-pills-link-active-bg) !important;
	}

	.nav-link:focus,
	.nav-link:hover {
		color: var(--bs-nav-link-color);
	}

h1:focus-visible {
	outline: none;
}

.alert-div {
	position: fixed;
	top: 1em;
	left: 50%;
	transform: translate(-50%, 0);
}

.fade-in {
	visibility: visible;
	opacity: 1;
	transition: opacity 500ms;
}

.fade-out {
	visibility: hidden;
	opacity: 0;
	transition: opacity 500ms, visibility 1000ms;
}

@media (prefers-color-scheme: dark) {
	:root {
		--bs-body-color: white;
		--bs-white-rgb: 32, 32, 32;
		--bs-light-rgb: 40, 40, 40;
		--bs-dark-rgb: 255, 255, 255;
		--bs-border-color: grey;
	}

	.form-control {
		background-color: rgb(var(--bs-white-rgb));
		border-color: var(--bs-border-color);
		color: var(--bs-body-color);
	}

		.form-control:focus {
			background-color: rgb(var(--bs-light-rgb));
			color: var(--bs-body-color);
		}

	.alert {
		background-color: var(--bs-alert-color);
		color: var(--bs-alert-bg);
	}

	.btn-close {
		filter: invert(1) grayscale(100%) brightness(200%);
	}
}
